.mainContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--light-primary-color);
    overflow: auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 4rem;
    background-color: var(--gray-dark);
    color: var(--black-color);
}

.contentContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 2.3rem;
    height: 100%;
    padding: 2.3rem;
    overflow-y: auto;
    
}

.noDataMessage {
    display: flex;
    width: 50%;
    height: 100%;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: flex-end;
    font-size: 5rem;
}

.paginator {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    align-self: center;
}


.search {
    width: 70%;
}

.spin {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.spin span {
    font-size: 160px !important;
}

.spin i {
    width: 40px !important;
    height: 40px !important;
    /* aspect-ratio: 1 / 1 !important; doesen't work :/ */
}

@media screen and (max-width: 1500px) {
    .mainContainer {
        display: flex;
        flex-direction: column;
    }
    .cardContainer {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.3rem;
        grid-template-rows: repeat(6, 1fr);
        height: 100%;
        padding: 1rem;
        overflow-y: auto;
        
    }
  }