.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    position: relative;
}

.mainContainer::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 5px;
    left: 0;
    background-color: var(--secondary-color);
    transform: scaleX(0);
    transition: transform 0.6s ease;
}

.mainContainer:hover::before {
    transform: scaleX(1);
  }

.logo {
}

.logoText {
    font-family: RobotoBlack;
    color: var(--secondary-color);
    font-weight: 600;
    letter-spacing: 0.7rem;
    font-size: 3.5rem;
    padding-left: 1.5rem;
}


@media screen and (max-width: 650px) {
    .logoText {
        letter-spacing: 0.2rem;
        font-size: 3.5rem;
        padding-left: 0.5rem;
    }
}