@font-face {
  font-family: 'RobotoRegular';
  src: local('Roboto'), url(./fonts/Roboto/Roboto-Regular.ttf) format('opentype');
}
@font-face {
  font-family: 'RobotoBlack';
  src: local('Roboto'), url(./fonts/Roboto/Roboto-Black.ttf) format('opentype');
}



body {
  width: 100% !important;
  font-family: 'RobotoRegular', sans-serif;
  overflow: hidden;
  margin: 0;
}

:root {
  --primary-color: #0075B7;
  --dark-primary-color: #005180;
  --light-primary-color: #eeeded;
  --secondary-color: #d37203;
  --light-secondary-color:#fa8500;

  --gray-dark: rgb(200, 200, 200); 

  --white-color: #FFFFFF;
  --black-color: #000000;

  --link-color: #1890FF;

  --box-shadow-one: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
[data-theme='dark'] {
  /* --background: black;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred; */
}