.mainContainer {
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
    background-color: var(--dark-primary-color);
    color: var(--white-color);
    min-height: 7rem;
    font-size: 2em;
}

.rowContainer {
    display: flex;
    flex-direction: row;
}

.marginRight {
    margin-right: 2rem;
}

